.player {min-width:inherit;}



@media (max-width:740px) {
    .top .title {width:92%;font-size:20px;}
    .top .title .control-config {display:block;}
}

@media (max-width:740px) {
    .speed {display:block;}

    .control-play-center {background:url('../_images/mobile/control-play-center.png') center center no-repeat;}
    .control-play-center:hover {background:url('../_images/mobile/control-play-center-over.png') center center no-repeat;}
    .control-pause-center {background:url('../_images/mobile/control-pause-center.png') center center no-repeat;}
    .control-pause-center:hover {background:url('../_images/mobile/control-pause-center-over.png') center center no-repeat;}

    .bookmark {display:block;}
}

@media (max-width:740px) {
    .bottom {height:80px;}
    .bottom .timeline {width:92%;}
}

@media (max-width:740px) {
    .bottom .control {width:92%;}
}

@media (max-width:740px) {
    .bottom .control .control-left li.control-play-prev {display:none;}
    .bottom .control .control-left li.control-rw {display:none;}
    .bottom .control .control-left li.control-play {display:none;}
    .bottom .control .control-left li.control-pause {display:none;}
    .bottom .control .control-left li.control-stop {display:none;}
    .bottom .control .control-left li.control-ff {display:none;}
    .bottom .control .control-left li.control-play-next {display:none;}
    .bottom .control .control-left li.control-volume-on {display:none;}
    .bottom .control .control-left li.control-repeat {display:block;}
    .bottom .control .time {display:none;}
}

@media (max-width:740px) {
    .bottom .control .control-center {display:block;}
    .bottom .control .control-center li.control-volume-on {display:none;}
    .bottom .control .time {display:none;}
}

@media (max-width:740px) {
    .bottom .control .volume-bar {display:none;}
}

@media (max-width:740px) {
    .bottom .control .control-right li.control-caption {display:none;}
    .bottom .control .control-right li.control-bookmark {display:none;}
    .bottom .control .control-right li.control-config {display:none;}
    .bottom .control .control-right li.control-repeat {display:none;}
    .bottom .control .control-right li.control-speed {display:none;}
}

@media (max-width:740px) {
    .bottom .config {width:92%;}
}