/* http://www.yozii.com 
/* (ÁÖ)¿ä¼úÁöÆÎÀÌÀÇ ¸ÞÀÌÇÃ ÇÃ·¹ÀÌ¾î

/* base */
body
{ topmargin:0; leftmargin:0; font-size:12px; font-family:"NanumGothic,µ¸¿ò, µ¸¿òÃ¼, seoul, tahoma, verdana"; 
  background-color:#fff;border:0;cellpadding:0;cellspacing:0; 
  overflow-x:hidden;overflow-y:hidden;
}
img {border:0}

/* select */
select{behavior: url('./mayple/common/css/selectbox.htc');}

.b	{font-weight:bold}
.c	{text-align:center}
.r	{text-align:right}

select							{ font-family:"tahoma"; font-size:10px; color:#aaaaaa; background-color:#444444; outline:none; margin:0;border:"1 solid #ff0000";}
#bookmark					{ font-family:"tahoma"; font-size:11px; color:#aaaaaa; background-color:#444444; outline:none; margin:0;border:"1 solid #ff0000";padding:10px;height:50px;}
.panel_smallbutton		{ font-family:"tahoma;µ¸¿ò"; font-size:10px; width:22px; margin:2px; height:19px;color:#aaaaaa; background-color:#444444; outline:none; margin:0;border:"1 solid #777777";}
.panel_smallbutton2	{ font-family:"tahoma;µ¸¿ò"; font-size:10px; width:40px; height:19px;padding-top:1px;color:#aaaaaa; background-color:#444444; outline:none; margin:0;border:"1 solid #777777";}

#orange		{ color:"#fe6822"; font-size:"9px"; font-family:"tahoma";}
#gray			{ color:"#9f9f9f"; font-size:"9px"; font-family:"tahoma";}


#StartPosition		{ color:"#c5c5c5"; font-size:"10px"; font-family:"tahoma"; text-align:center; line-height:22px; width:52px; height:22px;}
#EndPosition		{ color:"#c5c5c5"; font-size:"10px"; font-family:"tahoma"; text-align:center; line-height:22px; width:52px; height:22px;}
#MEDIASTATION	{ color:"#c5c5c5"; font-size:"9px"; font-family:"tahoma"; text-align:center; line-height:22px; padding-top:2px; width:52px; height:22px;}
#MEDIAPOSITION{ color:"#c5c5c5"; font-size:"10px"; font-family:"tahoma"; text-align:center; line-height:22px;padding-top:2px; width:110px; height:22px;}
#SPEED_SPAN		{ color:"#c5c5c5"; font-size:"10px"; font-family:"tahoma"; text-align:left; line-height:22px;padding-top:2px; width:90px; height:3px;}

